
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("/job-scrap/public/images/hero-bg.jpg");
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 500px; 
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    color: #555;
    background: transparent;
}

.inputbox span {
    position: absolute;
    left: 0;
    bottom: 8px;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
    pointer-events: none;
}

.inputbox input:focus + span, .inputbox input:valid + span {
    bottom: 28px;
    font-size: 12px;
    color: #666;
}

.sub {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #0583D2;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
}
.sub2 {
    display: block;
    width: fit-content; /* Adjust width to fit content */
    padding: 10px 20px; /* Add padding to style the button */
    margin: 0 auto; /* Center the button horizontally */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: #0583D2;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease;
    text-decoration: none; /* Ensure the button doesn't have underline */
}

.sub:hover {
    background: #0056b3;
}
.sub2:hover {
    background: #0056b3;
}