.search-bar {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 50%;
}

.search-bar input[type="search"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.job{
padding: 16px;
border: 1px solid rgb(212, 212, 212);
border-radius: 10px;
margin: 20px;
}

.job:hover{
background-color: rgb(236, 236, 236);
}

.job-link, .job-link:visited {
text-decoration: none;
color: black;
}

/* .jobTitle{

} */

.jobTitle:hover{
text-decoration: underline;
}

.company_location{
display: flex;
flex-direction: column;
}



/* Loading screen */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  /* transition: opacity 0.75s, visibility 0.75s; */
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 50px;
  height: 50px;
  border: 12px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}