.search-bar {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 50%;
}

.search-bar input[type="search"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.job{
padding: 16px;
border: 1px solid rgb(212, 212, 212);
border-radius: 10px;
margin: 20px;
}

.job:hover{
background-color: rgb(236, 236, 236);
}

.job-link, .job-link:visited {
text-decoration: none;
color: black;
}

/* .jobTitle{

} */

.jobTitle:hover{
text-decoration: underline;
}

.company_location{
display: flex;
flex-direction: column;
}

